<h2>Certifications</h2>
<hr>

<ul class="certifications">
  <li>09/2024 | SQL (Basic) Certificate, Hackerrank (SQL)</li>
  <li>04/2022 | JavaScript Algorithms and Data Structures Certification, freeCodeCamp (JavaScript, HTML, CSS)</li>
  <li>06/2021 | Introduction to Programming Nanodegree, Udacity (Python, JavaScript, HTML, CSS)</li>
</ul>
