<h1>Kelly Popko, Software Engineer</h1>
<hr>

<ul id="contact-info">
  <li id="location">Milwaukee, WI 53005</li>
  <li id="phone">(262) 402-1085</li>
  <li id="email">kelpopko@gmail.com</li>
</ul>

<ul id="social">
  <li id="linkedin">https://www.linkedin.com/in/kelly-popko/</li>
  <li id="github">https://github.com/kellyky</li>
</ul>
