<h3>Customer Experience Specialist, Partnerships (Serta Simmons Bedding, formerly Tuft & Needle)</h3>
<p class="dates">09/2018 – 05/2022</p>

<p class="duties">Processed bulk vendor orders and handled specialized B2B2C partnership customer cases. Collaborated with specialized CX teams to assist both associates and customers.</p>

<ul class="accomplishments">
  <li>Co-created guided warranty intake system for Tuft & Needle using Typeform integrated with Google Sheets. Significantly reducing CPO, streamlining processes for customers and CX alike. Implemented process for additional company brands.</li>
  <li>Wrote shell scripts to automate repetitive bulk order processing tasks using Bash, optimizing efficiency by 50% and reducing room for human error. Automation work consulted for official company programmatic solution.</li>
</ul>

