<h2>Open Source Contributions</h2>
<hr>

<h3 id="exercism" class="open-source">Exercism</h3>
<p class="dates">08/2024 - current</p>
<ul class="open-source" id="exercism">

  <li><a href="https://exercism.org/profiles/kellyky">Exercism Profile</a> | <a href="https://exercism.org/profiles/kellyky/testimonials">Mentorship Feedback</a></li>
  <li>Provided mentorship in Ruby, Python, and JavaScript tracks, achieving a 100% satisfaction rate across 14 students.</li>
  <li>Contributed to Python track, <a href="https://github.com/exercism/python/pull/3748">accepted PR (link fix)</a></li>
</ul>

<h3 id="odin-project" class="open-source">
<ul class="open-source" id="odin-project">
  <li>4 <a href="https://github.com/TheOdinProject/curriculum/pulls?q=is%3Apr+author%3Akellyky+is%3Aclosed">Pull Requests accepted and merged</a>, in The Odin Project curriculum, enhancing clarity and fixing errors in content.</li>
</ul>
