<h2>PROFESSIONAL SUMMARY</h2>
<hr>

<p id="professional-summary">Software Engineer with a growth mindset dedicated to user-first development and mentorship. Proven ability to align technical solutions with business objectives, delivering high-quality software. Strong background in debugging and collaboration, experienced in TDD, API integration, and agile methodologies. Passionate about continuous learning, creative problem-solving, and coding. Active mentor in Exercism and interested in open source.</p>
