<h2>Skills -- Qualifications</h2>

<ul class="skills">
  <li>Languages, Frameworks, Concepts: Ruby/Rails, Object Oriented Programming (OOP), Model View Controller (MVC), SQL/PostgreSQL, JavaScript/Node.js, HTML, CSS, Elixir, Python, Bash/shell</li>
  <li>Testing: Test-Driven Development (TDD), RSpec, Minitest, Cypress, Capybara</li>
  <li>Project Types: Migrations, New Features, Bug Fixes, Process Improvement, Automation, Debugging, Investigation</li>
  <li>Tools: Version Control (Git/GitHub), Heroku, Vercel, CI/CD (Buildkite), Vim, tmux, Sidekiq</li>
  <li>Soft Skills, Business Skills: Strong Communication (Written and Verbal), Project Management, Documentation, Prioritization, Empathy,  Attention to Detail, Critical Thinking, Teamwork: Pairing, Collaboration, Feedback, Mentoring</li>
</ul>
