<h2>Software Engineer (Serta Simmons Bedding)</h2>
<p class="dates">05/2022 - 01/2024</p>

<p class="duties">Deployed new features, resolved bugs in Ruby on Rails, JavaScript, Node.js, HTML, enhancing application functionality. Supported data migrations, launches, ensuring smooth transitions. Upheld code quality through pair programming, code reviews. Documented Jira tickets, QA instructions, team processes to streamline communication. Participated in Agile ceremonies (grooming, sprint planning, retrospectives), promoting team alignment and efficiency.</p>

<ul class="accomplishments">
  <li>Contributed to a cross-functional initiative to streamline Direct-to-Consumer (DTC) fulfillment, transitioning from custom integrations to a unified EDI-based ERP system for improved scalability and operational efficiency.</li>
  <li> Developed key JSON-based processes for Purchase Order creation and parsed/integrated incoming Advance Ship Notices in Ruby on Rails, ensuring reliable order processing for 100% of the brand’s Direct-to-Consumer fulfillment.</li>
  <li>Wrote RSpec test coverage for Purchase Order and Advance Ship Notice processing, adhering to Test-Driven Development (TDD) and resulting in 95% test coverage of new features.</li>
  <li>Collaborated with engineering leadership to allocate resources effectively, resulting in the appointment of key roles such as Tech Lead and Technical Project Manager.</li>
  <li>Triaged defects and new requirements for bug fixes and process improvement, prioritizing resolutions to prevent post-launch complications and ensure positive user experiences.</li>
  <li>Integrated Shopify order data with a Ruby on Rails backend, ensuring accurate processing of shipping fees, sales tax, and recycling fees, leading to the successful migration of 100% of website orders.</li>
  <li>Supported 10+ product launches requiring both frontend and backend work, establishing expertise in various product types and ensuring on-time launches</li>
  <li>Maintained an in-house task automation tool (Node.js app and Chrome extension), improving stakeholder user experience and saving the company thousands of dollars.</li>
  <li>Developed UI and accessibility enhancements for a Ruby on Rails application (CRM), improving user experience for internal teams and ensuring compliance with accessibility standards.</li>
</ul>

