<h3>Software Quality Analyst (Serta Simmons Bedding)</h3>
<p class="dates">05/2021 - 05/2022</p>

<p class="duties">Conducted acceptance, regression, and edge case testing for Agile teams, ensuring quality in customer-facing and internal systems while identifying and prioritizing defects.</p>

<ul class="accomplishments">
  <li>Led integration testing, manual QA, and UAT for a cross-functional referral program, resulting in a successful launch with zero defects reported in first 90 days, earning stakeholder appreciation for thorough testing and education.</li>
  <li>Ran regression test suites using Bash shell script, ensuring comprehensive test coverage and software quality.</li>
  <li>Updated and wrote tests in the Cypress test suite—fixing existing tests and adding test coverage as needed.</li>
  <li>Resolved production bug tickets, showcasing problem-solving skills and attention to detail, contributing to software quality.</li>
</ul>

